<div class="mobile-menu" id="mobile-menu">
    <div class="mobile-contents">
        <div class="menu-close">
            <button class="menu-close-btn">
                <span class="menu-close-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
                        stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg></span>
            </button>
        </div>
        <div class="mobilemenu-content">
            <div class="main-wrap">
                <ul class="main-menu">
                    <li class="menu-link">
                        <a href="/" class="link-title">
                            <span class="sp-link-title">Home</span>
                            {{!-- <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span> --}}
                        </a>
                    </li>
                    <li class="menu-link">
                        <a href="/collection" class="link-title">
                            <span class="sp-link-title">Shop</span>
                            {{!-- <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span> --}}
                        </a>
                    </li>
                    {{!-- <li class="menu-link">
                        <a href="#menu-mega" class="link-title" data-bs-toggle="collapse" aria-expanded="false">
                            <span class="sp-link-title">Product</span>
                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                        </a>
                    </li> --}}
                    <li class="menu-link">
                        <a href="/blog-grid" class="link-title">
                            <span class="sp-link-title">Blog</span>
                            {{!-- <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span> --}}
                        </a>
                    </li>
                    <li class="menu-link">
                        <a href="/about-us" class="link-title">
                            <span class="sp-link-title">About us</span>
                        </a>
                    </li>
                    <li class="menu-link">
                        <a href="/contact-us" class="link-title">
                            <span class="sp-link-title">Contact us</span>
                        </a>
                    </li>
                    <li class="menu-link">
                        <a href="#menu-sub" class="link-title" data-bs-toggle="collapse" aria-expanded="false">
                            <span class="sp-link-title">Page</span>
                            <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                        </a>
                        <div class="menu-dropdown menu-sub collapse" id="menu-sub">
                            <ul class="ul">
                                <li class="menusub-li">
                                    <a href="/profile" class="menusub-title" >
                                        <span class="sp-link-title">My account</span>
                                        <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                    </a>
                                    <div class="menusup-dropdown collapse" id="account">
                                        <ul class="menusup-ul">
                                            <li class="menusup-li">
                                                <a href="/order-history" class="menusup-title">
                                                    <span class="sp-link-title">Order</span>
                                                </a>
                                            </li>
                                            {{!-- <li class="menusup-li">
                                                <a href="pro-address" class="menusup-title">
                                                    <span class="sp-link-title">Address</span>
                                                </a>
                                            </li> --}}
                                            <li class="menusup-li">
                                                <a href="/pro-wishlist" class="menusup-title">
                                                    <span class="sp-link-title">Wishlist</span>
                                                </a>
                                            </li>
                                            {{!-- <li class="menusup-li">
                                                <a href="pro-tickets.html" class="menusup-title">
                                                    <span class="sp-link-title">My tickets</span>
                                                </a>
                                            </li> --}}
                                            {{!-- <li class="menusup-li">
                                                <a href="billing-info.html" class="menusup-title">
                                                    <span class="sp-link-title">Billing info</span>
                                                </a>
                                            </li> --}}
                                            {{!-- <li class="menusup-li">
                                                <a href="track-page.html" class="menusup-title">
                                                    <span class="sp-link-title">Track page</span>
                                                </a>
                                            </li> --}}
                                            {{!-- <li class="menusup-li">
                                                <a href="order-complete.html" class="menusup-title">
                                                    <span class="sp-link-title">Order complete</span>
                                                </a>
                                            </li> --}}
                                        </ul>
                                    </div>
                                </li>
                                <li class="menusub-li">
                                    <a href="/checkout" class="menusub-title">
                                        <span class="sp-link-title">Checkout</span>
                                        {{!-- <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                        --}}
                                    </a>
                                </li>
                                <li class="menusub-li">
                                    <a href="/faq" class="menusub-title">
                                        <span class="sp-link-title">Faq's</span>
                                    </a>
                                </li>
                                <li class="menusub-li">
                                    <a href="/privacy-policy" class="menusub-title">
                                        <span class="sp-link-title">Privacy policy</span>
                                    </a>
                                </li>
                                <li class="menusub-li">
                                    <a href="/payment-policy" class="menusub-title">
                                        <span class="sp-link-title">Payment policy</span>
                                    </a>
                                </li>
                                <li class="menusub-li">
                                    <a href="/terms-condition" class="menusub-title">
                                        <span class="sp-link-title">Terms &amp; condition</span>
                                    </a>
                                </li>
                                <li class="menusub-li">
                                    <a href="/return-policy" class="menusub-title">
                                        <span class="sp-link-title">Return policy</span>
                                    </a>
                                </li>
                                {{!-- <li class="menusub-li">
                                    <a href="404.html" class="menusub-title">
                                        <span class="sp-link-title">404</span>
                                    </a>
                                </li> --}}
                                <li class="menusub-li">
                                    <a href="/coming-soon" class="menusub-title">
                                        <span class="sp-link-title">Coming soon</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {{#if (adminaccess user)}}
                    <li class="menu-link">
                        <a href="/addproduct" class="link-title">
                            <span class="sp-link-title">Add-Product</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            <div class="mobile-social">
                <div class="mob-wrap mob-social">
                    <ul class="social-icon">
                        <!-- facebook-icon start -->
                        <li>
                            <a href="https://www.facebook.com/">
                                <span class="icon-social facebook"><svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 320 512">
                                        <path
                                            d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                                        </path>
                                    </svg></span>
                                <span>90K Followers</span>
                            </a>
                        </li>
                        <!-- facebook-icon end -->
                        <!-- insta-icon start -->
                        <li>
                            <a href="https://in.pinterest.com/">
                                <span class="icon-social pinterest"><svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 448 512">
                                        <path
                                            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                                        </path>
                                    </svg></span>
                                <span>60K Followers</span>
                            </a>
                        </li>
                        <!-- insta-icon end -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>