<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from spacingtech.com/html/electon/electon/coming-soon.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 22 Feb 2025 11:18:55 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
        <meta charset="utf-8">
        <meta name="description" content="A best stylish, creative, modern responsive template for different eCommerce business or industries." />
        <meta name="keywords" content="food template, bakery products, html, eCommerce html template,plants, organic food, restaurant, live tree, responsive, pizza, burger, furniture, mobile, watches, electronics, computers accessories, toys, jewellery, restaurant accessories" />
        <meta name="author" content="spacingtech_webify">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- title -->
        <title>Electon - The Electronics eCommerce Bootstrap Template</title>
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="img/favicon/favicon.png">
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-icons.css">
        <!-- magnific-popup css -->
        <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
        <!-- fontawesome css -->
        <link rel="stylesheet" type="text/css" href="css/all.min.css">
        <!--fether css -->
        <link rel="stylesheet" type="text/css" href="css/feather.css">
        <!-- animate css -->
        <link rel="stylesheet" type="text/css" href="css/animate.min.css">
        <!-- owl-carousel css -->
        <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
        <!-- swiper css -->
        <link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css">
        <!-- slick slider css -->
        <link rel="stylesheet" type="text/css" href="css/slick.css">
        <!-- collection css -->
        <link rel="stylesheet" type="text/css" href="css/collection.css">
        <!-- blog css -->
        <link rel="stylesheet" type="text/css" href="css/blog.css">
        <!-- other-pages css -->
        <link rel="stylesheet" type="text/css" href= "css/other-pages.css">
        <!-- product-page css -->
        <link rel="stylesheet" type="text/css" href="css/product-page.css">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <!-- coming-soon start -->
        <section class="coming-soon-area">
            <div class="customer-area">
                <div class="customer-content">
                    <div class="comming-wrap">
                        <div class="acc-form">
                            <div class="header-theme-logo">
                                <a href="index.html" class="theme-logo" data-animate="animate__fadeInUp">
                                    <img src="img/logo/logo.png" class="img-fluid" alt="logo">
                                </a>
                            </div>
                            <div class="image">
                                <a href="javascript:void(0)" class="about-image">
                                    <img src="img/coming-soon/coming-soon.jpg" class="img-fluid" alt="coming-soon">
                                </a>
                            </div>
                            <h2 data-animate="animate__fadeInUp">Hello guys!</h2>
                            <h4 class="password-coming-title" data-animate="animate__fadeInUp">We're coming soon...</h4>
                        </div>
                        <div class="timer-section1" id="the-24h-countdown" data-animate="animate__fadeInUp">
                            <ul class="clock"></ul>
                        </div>
                        <div class="crap-search" data-animate="animate__fadeInUp">
                            <form method="post" class="search-bar" role="search">
                                <div class="form-search">
                                    <input type="search" name="q" placeholder="Enter your email" aria-label="Search our store" id="search" class="input-text" required="" autocomplete="off">
                                    <a href="index.html" class="btn-style2">subscribe</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- coming-soon end -->
        <!-- jquery js -->
        <script src="js/jquery-3.6.3.min.js"></script>
        <!-- bootstrap js -->
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- magnific-popup js -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- owl-carousel js -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- swiper-slider js -->
        <script src="js/swiper-bundle.min.js"></script>
        <!-- slick js -->
        <script src="js/slick.min.js"></script>
        <!-- waypoints js -->
        <script src="js/waypoints.min.js"></script>
        <!-- counter js -->
        <script src="js/counter.js"></script>
        <!-- main js -->
        <script src="js/main.js"></script>
    </body>

<!-- Mirrored from spacingtech.com/html/electon/electon/coming-soon.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 22 Feb 2025 11:18:55 GMT -->
</html>